.converter
{
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}
	.converter h3
	{
		margin: 0 16px;
		word-break: break-all;
	}
	.converter input
	{
		font-size: 24px;
		width: 220px;
		text-align: right;
	}
	.converter span
	{
		font-size: 24px;
		margin: 0 8px;
	}
